#game div {
    border: 1px solid black;
    width: 15%;
    height: 200px;
    margin: 10px;
    display: inline-block;
  }

#game div:hover{
  background-color: lightgoldenrodyellow
}
/*cards with this class cannot be clicked*/
  .flipped{
    pointer-events: none;
  }
/*cards with this class cannot be clicked*/
  .match{
    pointer-events: none;
  }